
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
/* ::-webkit-scrollbar-thumb {
    background: #FF0000;
} */


body {
    font-family: 'Assistant', sans-serif;
    color: #0b032d;  /*// Shohan: for color styling */
    

}
.minimize {
    text-align: center;
    position: absolute;
    top: 20px;
    right: 16px;
    height: 32px;
    width: 32px;
    pointer-events:none;
    z-index: 1001;
}

.col-12 {
    padding-left: 0;
}

a {
    color: #0B032D;
}

a:hover {
    color: #0B032D;
    text-decoration: none;
}
#wikiInfo {
    margin-top: 70px;
}

.wiki-day{
    font-family: 'Roboto', sans-serif;
    font-weight: 900 !important;
    font-size: 0.875em;
}
h6 {
    font-family: 'Roboto',sans-serif;
    font-weight: 400 !important;
    font-size: 0.875em;
}

h4 {
    font-family: 'Roboto',sans-serif;
    font-weight: 400 !important;
    font-size: 1.125em;
    margin-top: 30px;
}

table {
    margin-top: 71px !important;
}

.table {
    margin-bottom: 0 !important;
}


p {
    font-size: 0.875em;
}
.nav-logo {
    height: 50px;
    width: 90px;
    background-color:#222831 !important; 
    background-image:url('../images/Paperboy.svg'); 
    background-repeat:no-repeat; 
    background-size: 100px; 
    background-position: center-left;
    float: right;
}



.fa-search {
    color: #ccc;
}

img {
    object-fit: cover;
}

.fade-container {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1000;
    display: none;
}

.fade-cards {
    background: #999;
    opacity: 0.6;
    display: block !important;
}

.bring-to-front {
    z-index: 9998 !important;
}


/* .wrapper-fade > div > div {
    -webkit-transition:0.5s;
    transition:0.5s;
}

.wrapper-fade:hover > div > div {
    opacity:0.6;
  }
  
.wrapper-fade > div > div:hover{
    opacity:1;
} */


.placeholder {
    height: 80px;
    width: 80px;
    border-radius: 0.5em;
}

.img-lg {
    margin-bottom: 10px;
    width: 50%;
    height: 100%;
    float: right;
    margin-left: 35px;
    margin-top: 30px;
    background-size: cover;
    
}

.headline-text {
    font-size: 0.875em !important;
}

.headline {
    margin-top: 70px;
    border-top: 1px solid #dee2e6;
    height: 30vh
}




/* .upper-deck > div {
    -webkit-transition:0.5s;
    transition:0.5s;
}

.upper-deck:hover > div {
    z-index: 9999;
}

.upper-deck > div:hover {
    z-index: 9999;
} */

.upper-deck {
    height: calc(100vh - 70px);
    padding-top: 50px;
}
/* ===================================== */
.lower-deck {
    position: absolute;
    background: #eee;
}

.wiki-card, .youtube-card, .reddit-card {
    bottom: 0px;
    height: 70px;
    background: #eee;
}

.lower-card-expand {
    -webkit-transition:0.5s;
    transition:0.5s;
    bottom: 430px;
    height: 500px;
}
/* .lower-deck:hover > div {
    background-color: #eee;
    opacity: 0.5;
}

.lower-deck > div:hover {
    background-color: #fff;
    opacity: 1;
} */
/* ===================================== */





.text-logo {
    line-height: 2.5
}
/* Bootstrap Overrides */
.navbar-brand {
    font-family: 'Fugaz One', cursive;
    padding: 0px !important;
}

.navbar {
    padding: 0px 0px 0px 1em !important;
    min-height: 5vh !important;
}

.card {
    border: 1px solid #999;
    border-radius: 0;
      /* box-shadow: 0px 0px 5px 0px #888888; */
    margin: 0 !important;
    background: #fff;
}


.card-title {
    margin-bottom: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;
    min-height: 70px;
    z-index: 100;
}

.bottom-title:hover {
    background-color: #ECECEC;
    opacity: 0.9;
}

.top-title {
    padding-top: 5px;
    line-height: 3.5;
}

.text-title {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+2,ffffff+100&0.85+1,0.85+52,0.5+79,0+100 */
background: -moz-linear-gradient(top, rgba(255,255,255,0.85) 1%, rgba(255,255,255,0.85) 2%, rgba(255,255,255,0.85) 52%, rgba(255,255,255,0.5) 79%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,0.85) 1%,rgba(255,255,255,0.85) 2%,rgba(255,255,255,0.85) 52%,rgba(255,255,255,0.5) 79%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,0.85) 1%,rgba(255,255,255,0.85) 2%,rgba(255,255,255,0.85) 52%,rgba(255,255,255,0.5) 79%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.youtube-title {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.91+0,0+100 */
background: -moz-linear-gradient(top, rgba(255,255,255,0.91) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,0.91) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,0.91) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.bottom-title {
    padding-top: 18px;
}


.fa-reddit-alien {
    color: #fff;
    text-shadow: 0px 0px 3px #000, 0px 0px 3px #000; 
}

.fox-icon {
    width: auto;
    height: 50px;
}

.nyt-icon {
    width: auto;
    height: 20px;
}
.card-body {
    overflow-y: scroll;
    padding-top: 0 !important;
}

.card-deck {
    margin: 0;
}

.youtube_cards > :first-child {
    margin-top: 70px !important;
}


/* ------------------------------- Byron's CSS Start -------------------------------  */
.youtube_img_overlay {
    opacity: 0;
    transition: opacity .25s ease-in-out;
    position: absolute;
    /* margin: auto auto; */
    max-width: 100%;
    max-height: 100%;
}

.youtube_img_overlay:hover {
    opacity: 0.8;
    transition: opacity .5s ease-in-out;
}

.youtube_img_overlay:hover .youtube_img{
    opacity: 0.7;
    /* transition: opacity .5s ease-in-out; */
}

.div_youtube_thumbnail {
    position: relative;
}

tr:hover {
    cursor: pointer;
}
/* -------------------------------  Byron's CSS End -------------------------------  */

@media screen and (max-width:640px) {
    .lower-deck {
        display: none;
    }
    .upper-deck {
        height: 100vh;
    }
    .form-inline {
        padding-bottom: 1em;
    }
    .upper-table {
        margin-bottom: 0;
    }
    h4 {
        font-size: 1em;
    }
    .headline {
        font-size: 0.875em;
        height: 50vh;
    }
    
}