
body {
    font-family: 'Assistant', sans-serif;

    color: #0b032d;  /*// Shohan: for color styling */

}


h5{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;



}
h6 {
    font-weight: 600;
}


p {
    font-size: 0.875em;
}
.nav-logo {
    height: 50px;
    width: 90px;
    background-color:#222831 !important; 
    background-image:url('../images/Paperboy.svg'); 
    background-repeat:no-repeat; 
    background-size: 100px; 
    background-position: center-left;
    float: right;
}



.fa-search {
    color: #fff;
}

img {
    object-fit: cover;
}

.wrapper {
    margin-top: 0;
    margin-bottom: 0;
}

.placeholder {
    height: 100px;
    width: 100px;
    background-color: #ccc;
}


.text-logo {
    line-height: 2.5
}
/* Bootstrap Overrides */
.navbar-brand {
    font-family: 'Fugaz One', cursive;
    padding: 0px !important;
}

.navbar {
    padding: 0px 0px 0px 1em !important;
    min-height: 5vh !important;
}

.card {
    border: 1px solid #000;
    border-radius: 0;
      /* box-shadow: 0px 0px 5px 0px #888888; */
    margin: 0 !important;
}

.upper-deck {
    max-height: 55vh;
    padding-top: 50px;
}

.lower-deck {
    max-height: 45vh;
}

.card-title {
    padding: 0.7em 0;
    margin-bottom: 0;
    text-align: center;


}
.card-body {
    overflow-y: scroll;
    padding-top: 0 !important;
}

.card-deck {
    margin: 0;
}

/* ------------------------------- Byron's CSS Start -------------------------------  */
.youtube_img_overlay {
    opacity: 0;
    transition: opacity .25s ease-in-out;
    position: absolute;
    /* margin: auto auto; */
    max-width: 100%;
    max-height: 100%;
}

.youtube_img_overlay:hover {
    opacity: 0.8;
    transition: opacity .5s ease-in-out;
}

.youtube_img_overlay:hover .youtube_img{
    opacity: 0.7;
    /* transition: opacity .5s ease-in-out; */
}

.div_youtube_thumbnail {
    position: relative;
}

tr:hover {
    cursor: pointer;
}
/* -------------------------------  Byron's CSS End -------------------------------  */

@media screen and (max-width:640px) {
    .lower-deck {
        display: none;
    }
    .upper-deck {
        max-height: 100vh;
    }
    .form-inline {
        padding-bottom: 1em;
    }
}